* {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

.sign-in-btn {
  border: 3px #0066ff solid;
  color: #0066ff;
  padding: 0.6125rem 0.8rem;
  border-radius: 10px;
}

.sign-in-btn:hover {
  border-color: #0040a0;
  color: #0040a0;
}

.sign-up-btn {
  background-color: #0066ff;
  color: white;
  padding: 0.8rem 0.8rem;
  border-radius: 10px;
}
.sign-up-btn:hover{
  background-color: #0040a0;
}